<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="true"
	  internalLogLevel="Off">

	<targets>
		<target name="console" xsi:type="Console">
			<layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Comma-separated list (string)" suppressSpaces="true">
				<attribute name="date" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffffK}"/>
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="appname" layout="${processname}"/>
				<attribute name="logger" layout="${logger}"/>
				<attribute name="message" layout="${message}"/>
				<attribute name="exception" layout="${exception}"/>
			</layout>
		</target>

		<target name="jsonFile" xsi:type="File"
				layout="${longdate} | ${level} | ${message}"
				fileName="${basedir}/logs/thumbnailApi_logs.log"
				archiveFileName="${basedir}/logs/thumbnailApi_logs.{#}.log"
				archiveDateFormat="yyyy-MM-dd"
				archiveNumbering="Date"
				archiveEvery="Day"
				maxArchiveFiles="14">
			<layout xsi:type="JsonLayout" includeAllProperties="false" excludeProperties="Comma-separated list (string)" suppressSpaces="true">
				<attribute name="date" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffffK}"/>
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="appname" layout="${processname}"/>
				<attribute name="logger" layout="${logger}"/>
				<attribute name="message" layout="${message}"/>
				<attribute name="exception" layout="${exception}"/>
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="SkiStore.API*" minlevel="Info" writeTo="console"/>
		<logger name="SkiStore.API*" minlevel="Info" writeTo="jsonFile"/>
	</rules>
</nlog>
